extends ../_layout.pug

block container
  if residences.length === 0
    div.alert.alert-info No puede crear semanas si no tienen residencias creadas

  else
    if errors
      ul.my-errors
        for error in errors
          li= error.msg

    h3= title

    if typeof data.weekString === 'string'
      h6= data.weekString

    form(
      action=data.id === null ? "/admin/weeks/create" : "/admin/weeks/update"
      method="POST"
    )

      div.form-group
        label(for="number") Semana numero:
        input(
          type="text"
          id="number"
          name="number"
          class="form-control"
          placeholder="Ingrese la semana numero"
          value=data.number
        )

      div.form-group
        label(for="year") Anio:
        input(
          type="text"
          id="year"
          name="year"
          class="form-control"
          placeholder="Ingrese el anio"
          value=data.year
        )

      div.form-group
        label(for="residences") Residencias:
        select#residences.form-control(name="residences_id" multiple)
          for residence in residences
            option(
              value=residence.id
              selected=data.id === null || data.residences_id === residence.id
            )= residence.title
      
      div.form-group
        input(
          type="submit"
          value=(data.id === null ? "Crear" : "Guardar cambios")
          class="btn btn-lg btn-primary"
        )
