extends ../_layout.pug

block container
  if data.length === 0
    div.alert.alert-info No existen semanas cargadas en el sistema.
  else 
    table.table.table-striped
      thead.thead-dark
        tr
          th Id
          th Residencia
          th Semana
          th Anio
          th Rango
          th Acciones

      tbody
        for item in data
          tr
            td= item.id
            td
              a(
                href=`/admin/residences/${item.residence.id}`
                class="btn btn-link"
              )= item.residence.title
            td= item.number
            td= item.year
            td= `de ${item.getWeekStartDate()} hasta ${item.getWeekEndDate()}`
            td
              a(
                href=`/admin/weeks/${item.id}`
                class="btn btn-link"
              ) Ver detalle

    if isDebugMode
      a(
        href=`/admin/weeks/delete-all`
        class="btn btn-danger"
      ) Borrar todas las semanas
              