extends ../_layout.pug

block container

    div.home-residence

      if errorMessage !== ''
        div.alert.alert-danger= errorMessage

      if didWeekHasBeenReservated
        div.alert.alert-success Residencia reservada correctamente

      h3= `Residencia ${residence.title}`
      div
        for photo in residence.photos
          img(
            src=`/residences/${photo.filename}`
            alt=`Foto residencia ${photo.id}`
          )

      p= residence.description

      p Ubicacion
      ul
        li
          span Calle: 
          strong= residence.address_street
        li
          span Codigo postal: 
          strong= residence.address_postal_code
        li
          span Ciudad: 
          strong= residence.address_city
        li
          span Provincia/Estado: 
          strong= residence.address_state
        li
          span Pais: 
          strong= residence.address_nation
        if residence.address_apartament !== ''
          li
            span Apartamento: 
            strong= residence.address_apartament
        if residence.address_flat !== ''
          li
            span Piso: 
            strong= residence.address_flat

    br

    h3 Semanas disponibles

    if(residence.weeks.length === 0)
      div.alert.alert-info No hay semanas para reservar
    else

      if client.creditPoints === 0
        div.alert.alert-warning No tiene creditos disponibles para poder reservar

      for week in residence.weeks

        div.form-inline
          label(class="my-1 mr-2") Semana numero &nbsp;
            strong= `${week.number}/${week.year}`
            span &nbsp;, que va desde &nbsp;
            strong= `${week.getWeekStartDate()}`
            span &nbsp; hasta &nbsp;
            strong= `${week.getWeekEndDate()}`

            if(client.type === 'premium' && client.creditPoints !== 0)
              button(
                type="button"
                class="btn btn-primary"
                data-toggle="modal"
                data-target=`#modal-${week.id}`
              ) Reservar

        form(
          id=`modal-${week.id}`
          method="POST"
          action=`/clients/${client.id}/residences/${residence.id}`
          class="modal fade"
        )
          div.modal-dialog
            div.modal-content
              div.modal-header
                h6.modal-title Confirmar reserva

                button(
                  type="button"
                  class="close"
                  data-dismiss="modal"
                )
                  span &times;

              div.modal-body

                p Usted esta a punto a de reservar la residencia 
                  strong= residence.title
                  span  para la semana 
                  strong= `${week.getWeekStartDate()}-${week.getWeekEndDate()}`

                p Se le descontara un credito de sus 
                  strong= client.creditPoints
                  span  disponibles

                input(
                  type="hidden"
                  name="weeks_id"
                  value=week.id
                )

              div.modal-footer
                button(
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                ) Cerrar

                button(
                  type="submit"
                  class="btn btn-primary"
                ) Confirmar
