extends ../_layout.pug

block container
  if data.length === 0
    div.alert.alert-info Sin residencias creadas por el momento
  else 
    table.table.table-striped
      thead.thead-dark
        tr
          th Id
          th Titulo
          th Descripcion
          th Acciones

      tbody
        for item in data
          tr
            td= item.id
            td= item.title
            td= item.description
            td
              a(
                href=`/admin/residences/${item.id}`
                class="btn btn-link"
              ) Ver detalle/Editar
              a(
                href=`/admin/residences/${item.id}/remove`
                class="btn btn-link"
              ) Eliminar