doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Some description')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= `${title}`
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/styles.css')
  body

    header.home-header
      a(
        href="/"
      )
        img(
          src="/images/logo.png"
          class="home-logo"
        )

    div.container
      div.login-form
        h3 Iniciar sesion

        if errors
          ul.my-errors
            for error in errors
              li= error.msg

        form(
          action="/admin/login"
          method="POST"
        )
          div.form-group
            label(for="email") Email:
            input(
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="email"
              value=data.email
            )

          div.form-group
            label(for="pass") Clave:
            input(
              type="password"
              id="pass"
              name="pass"
              placeholder="clave"
              class="form-control"
            )

          div.form-group
            input(
              type="submit"
              value="Ingresar"
              class="btn btn-lg btn-primary btn-block"
            )