extends ../_layout.pug

block stylesheets
  link(rel='stylesheet', href='/css/jquery-ui.min.css')

block scripts
  script(src='/js/jquery-ui.min.js')
  script(src='/js/datepicker-es.js')
  script.
    $(function() {
      $.datepicker.setDefaults( $.datepicker.regional[ "es" ] );
      $('.birth_date-calendar').datepicker({
        dateFormat: "dd/mm/yy",
        changeMonth: true,
        changeYear: true,
        showButtonPanel: true,
        onChangeMonthYear: function (year, month, inst) {
            var date = $(".birth_date-calendar").val();
            if ($.trim(date) != "") {
                var newDate = inst.currentDay + "/" + (month < 10 ? "0" + month : month) + "/" + year;
                $(".birth_date-calendar").val(newDate);
            }
        }
      });
    });

block container

  if errors
    ul.my-errors
      for error in errors
        li= error.msg

  h3= title

  if typeof message !== 'undefined'
    div.alert.alert-success= message

  div.alert.alert-info.
    Siendo usuario registrado podra acceder a nuestra plataforma y
    podra ofertar por nuestras residencias a lo largo del mundo.
    Al momento de registrarse se le otorgaran 2 creditos.

  div.alert.alert-warning Todos los campos son obligatorios

  form(
    action="/clients/register"
    method="POST"
  )

    div.form-group
      label(for="name") Nombre:
      input(
        type="text"
        id="name"
        name="name"
        class="form-control"
        placeholder="Ingrese su nombre"
        value=data.name
      )

    div.form-group
      label(for="surname") Apellido:
      input(
        type="text"
        id="surname"
        name="surname"
        class="form-control"
        placeholder="Ingrese su apellido"
        value=data.surname
      )

    div.form-group
      label(for="birth_date") Fecha de nacimiento <em>(usted debe tener mas de 18 años)</em>:
      input(
        type="text"
        id="birth_date"
        name="birth_date"
        class="form-control birth_date-calendar"
        placeholder="Ingrese su fecha de nacimiento"
        value=data.birth_date
        autocomplete="off"
      )

    div.form-group
      label(for="email") Email:
      input(
        type="text"
        id="email"
        name="email"
        class="form-control"
        placeholder="Ingrese su email"
        value=data.email
      )

    div.form-group
      label(for="document_number") Numero de documento:
      input(
        type="text"
        id="document_number"
        name="document_number"
        class="form-control"
        placeholder="Ingrese su numero de documento"
        value=data.document_number
      )

    div.form-group
      label(for="phone") Telefono:
      input(
        type="text"
        id="phone"
        name="phone"
        class="form-control"
        placeholder="Ingrese su telefono"
        value=data.phone
      )

    div.form-group
      label(for="address") Direccion:
      textarea(
        id="address"
        name="address"
        class="form-control"
        placeholder="Ingrese su direccion"
      )= data.address

    div.form-group
      label(for="pass") Contrasena <em>(min 6 caracteres)</em>:
      input(
        type="password"
        id="pass"
        name="pass"
        class="form-control"
        placeholder="Ingrese una contrasena"
      )

    div.form-group
      label(for="repass") Re ingrese contrasena:
      input(
        type="password"
        id="repass"
        name="repass"
        class="form-control"
        placeholder="Re ingrese una contrasena"
      )

    div.alert.alert-info
      h6 Tarjeta de credito

      div.form-group
        label(for="credit_card_brand") Marca:
        input(
          type="text"
          id="credit_card_brand"
          name="credit_card_brand"
          class="form-control"
          placeholder="Ingrese marca"
          value=data.credit_card_brand
        )

      div.form-group
        label(for="credit_card_number") Numero:
        input(
          type="text"
          id="credit_card_number"
          name="credit_card_number"
          class="form-control"
          placeholder="Ingrese numero"
          value=data.credit_card_number
        )

      div.form-group
        label(for="credit_card_expiration") Fecha de expiracion <em>(dd/yy)</em>:
        input(
          type="text"
          id="credit_card_expiration"
          name="credit_card_expiration"
          class="form-control"
          placeholder="Ingrese fecha de expiracion"
          value=data.credit_card_expiration
        )

      div.form-group
        label(for="credit_card_owner") Nombre del titular <em>(tal cual esta escrito en la tarjeta)</em>:
        input(
          type="text"
          id="credit_card_owner"
          name="credit_card_owner"
          class="form-control"
          placeholder="Ingrese nombre del titular"
          value=data.credit_card_owner
        )

      div.form-group
        label(for="credit_card_security_code") Codigo de seguridad:
        input(
          type="text"
          id="credit_card_security_code"
          name="credit_card_security_code"
          class="form-control"
          placeholder="Ingrese codigo de seguridad"
          value=data.credit_card_security_code
        )

    br

    div.form-group
      input(
        type="submit"
        value="Registrarse"
        class="btn btn-lg btn-primary btn-block"
      )