doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Some description')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= `${title}`
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/styles.css')
    block stylesheets
    script(src='/js/jquery-3.4.1.min.js')
    script(src='/js/bootstrap.min.js')
    block scripts
  body

    header.home-header
      a(
        href="/"
      )
        img(
          src="/images/logo.png"
          class="home-logo"
        )

    nav.home-nav
      if client.id === null
        div
          label
            a(
              href="/clients/login"
              title="Iniciar sesion"
              class="btn btn-link"
            ) Iniciar sesion

          label
            a(
              href="/clients/register"
              title="Registrarse"
              class="btn btn-link"
            ) Registrarse

      else
        div
          label.label= `Hola, ${client.name} ${client.surname}`
        
        div
          label.label= `${client.email}`

        if client.type === 'normal'
          div.alert.alert-warning Usted no es usuario premium, siendo usuario premium, usted proba reservar residencias durante el periodo premium
            a(
              href=`/clients/${client.id}/upgrade-premium`
              class="btn btn-warning"
            )
              strong Quiero ser premium

        else if client.type === 'premium'
          span.badge.badge-success Premium

        span.badge.badge-warning= `Usted tiene ${client.creditPoints} credito(s)`

        div
          label
            a(
              href=`/clients/${client.id}`
              title="Mi perfil"
              class="btn btn-link btn-sm"
            ) Mi perfil

          if client.type === 'premium'
            label
              a(
                href=`/clients/${client.id}/downgrade-premium`
                title="Solicitar baja del plan premium"
                class="btn btn-link btn-sm"
              ) Solicitar baja del plan premium

          label
            a(
              href="/clients/logout"
              title="Cerrar sesion"
              class="btn btn-link btn-sm"
            ) Cerrar sesion

    div.container
      block container
