doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Some description')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= `${title}`
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/styles.css')
    block stylesheets
    script(src='/js/jquery-3.4.1.min.js')
    block scripts
  body

    nav
      if client.id === null
        a(
          href="/clients/login"
          title="Iniciar sesion"
          class="btn btn-link"
        ) Iniciar sesion

        a(
          href="/clients/register"
          title="Crear cuenta"
          class="btn btn-link"
        ) Crear cuenta

      else
        label= `Hola ${client.name} ${client.surname}`

        a(
          href=`/clients/${client.id}`
          title="Crear cuenta"
          class="btn btn-link"
        ) Ver perfil

        a(
          href="/clients/logout"
          title="Cerrar sesion"
          class="btn btn-link"
        ) Cerrar sesion

    div.container
      block container