extends ./_layout.pug

block container
  if residences.length === 0 && client.id === null
    div.alert.alert-info No hay residencias cargadas en el sistema

  else if residences.length === 0 && client.id !== null
    div.alert.alert-info No hay residencias disponibles para ser reservadas

  else 
    for residence in residences
      div.home-residence
        h3= `Residencia ${residence.title}`
        div
          for photo in residence.photos
            img(
              src=`/residences/${photo.filename}`
              alt=`Foto residencia ${photo.id}`
            )
        br

        a(
          title="Ver mas informacion →"
          href=`/residences/${residence.id}`
        ) Ver mas informacion →
