extends ./_layout.pug

block container
  for week in weeks
    label= `Semana ${week.number} del ${week.year}`
    form(
      method="POST"
      action="/clients/reservations"
    )
      h3= `Residencia ${week.residence.title}`
      p= week.residence.description
      div
        for photo in week.residence.photos
          img(
            src=`/residences/${photo.filename}`
            alt=`Foto residencia ${photo.id}`
          )
      button(
        type="submit"
        class="btn btn-success"
      ) Reservar

    br