extends ./_layout.pug

block container
  if data.client.id === null
    a(
      href="/clients/login"
      title="Iniciar sesion"
      class="btn btn-link"
    ) Iniciar sesion

    a(
      href="/clients/register"
      title="Crear cuenta"
      class="btn btn-link"
    ) Crear cuenta

  else
    label= `Hola ${data.client.name} ${data.client.surname}`

    a(
      href="/clients/logout"
      title="Cerrar sesion"
      class="btn btn-link"
    ) Cerrar sesion
    